<div class="row">
  <div class="col-auto">
    <h2>Welcome, {{name}}!</h2>
  </div>
</div>

<div class="row mt-4">
  <div class="col-md-6">
    <h3>Calculate a Flight:</h3>

    <form class="form new-project-form">
      <div class="form-group">
        <label for="trip-name">Name your trip</label>
        <input class="form-input" type="text" id="trip-name" name="trip-name">
      </div>
      <div class="form-group">
        <label for="departure">Departure Airport:</label>
        <select class="form-input" type="text" id="departure" name="departure">
          <option value="DEN">Denver</option>
          <option value="SFO">San Francisco</option>
          <option value="IAD">Washington-Dulles</option>
          <option value="LGA">New York-LaGuardia</option>
          <option value="ORD">Chicago-O'Hare</option>
        </select>
      </div>
      <div class="form-group">
        <label for="destination">Arrival Airport:</label>
        <select class="form-input" type="text" id="destination" name="destination">
          <option value="DEN">Denver</option>
          <option value="SFO">San Francisco</option>
          <option value="IAD">Washington-Dulles</option>
          <option value="LGA">New York-LaGuardia</option>
          <option value="ORD">Chicago-O'Hare</option>
        </select>
      </div>
      <div class="form-group">
        <label for="dep-date">Departure Date:</label>
        <input class="form-input" type="date" id="dep-date" name="dep-date">
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary">Add</button>
      </div>
    </form>
  </div>

  {{#if trips.length}}
    <div class="col-md-6 project-list">
      <h3>Listed Flights:</h3>

      {{#each trips as |trip|}}
        <div class="row mb-2">
          <div class="col-md-8">
            <h4><a href="/trip/{{trip.id}}">{{trip.name}}</a></h4>
          </div>
          <div class="col-md-4">
            <button class="btn btn-sm btn-danger" data-id="{{trip.id}}">DELETE</button>
          </div>
        </div>
      {{/each}}
    </div>
  {{/if}}
</div>

<script src="/js/profile.js"></script>
<script src="/js/script.js"></script>